.card{
    background-color: #1b1b1b !important;
    color: white !important;
}
.card-header{
    background-color: hsl(198, 96%, 18%) !important;
    color: white !important;
    border: #023e58 !important;
}
.card-header-action {
    color: white !important;
}
.chartjs-render-monitor{
    color: white !important;
}
td {
    color: white !important;
    text-align: center;
}
th{
    color: white !important;
    text-align: center !important;
}
thead{
    background-color: #023e58;
    color: white !important;
}
.app-header{
    background-color: #023e58 !important;
    border: #023e58 !important;
    color: white !important;
}
.nav-link{
    color: white !important;
}
.dropdown-item{
    color: white !important;
}
.navbar-toggler-icon{
    color: white !important;
}

.modal-header{
    background-color: #023e58 !important;
    color:white !important;
}
.close{
    color:white !important;
}
.d-md-down-none .navbar-toggler{
    color:white !important;
}
a{
    cursor: pointer !important;
}
.btn-brand{
    border-radius: 0 !important;
    color:white !important;
}
.fa{
    border-radius: 0 !important;
}
.boxes{
    display: inline;
}
.logoutButton{
    background-color: #023e58 !important;
    color:white !important;
    border: none !important;
    border-radius: none !important;
}
.cardFooter{
    text-align: "center"; height: "40px"; justify-content: "center"; align-items: "center"; display: "flex"; 
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px !important;
    margin-left: -30px !important;
}
.MapModule{
    height: 20vh !important;
}
.table {
    text-align: center;
    background-color: #1b1b1b !important;
}
.actions-col-css{
    width: 13%;
}
.btn-margin{
    margin-right: 10px;
}
.modal.show .modal-dialog {
    transform: none;
    margin-top: 60px;
}
.table-dark th, .table-dark td, .table-dark thead th {
    vertical-align: middle !important;
}
h1, h2, h3, h4, h5, h6 {
    color: white !important;
}
.ant-message{
margin-top: 6rem !important;
}
.ant-picker-cell-inner{
    color: #000 !important;
} 
.ant-picker-cell-week{
    color: #000 !important;
}


.main-nav{
text-decoration: none;
}
.main-nav:hover div{
color: #023e58 !important;
text-decoration: none;
}
.main-nav-active div{
color: #09acf3 !important;
text-decoration: none;
}
.main-nav:hover{
text-decoration: none;
}
.close{
color:white !important;
}
.apexcharts-canvas{
    color: black !important;
}
.apexcharts-legend-text{
    color:white !important;
}
#SvgjsTspan1117 {
    color:white !important;
}
.apexcharts-menu-icon{
    color:white !important;
}
.apexcharts-menu-icon{
    display: none !important;
}

.apexcharts-canvas{
    background-color:#023e58 !important;
}
.MuiIconButton-label{
    font-size: 16px !important;
}

.apexcharts-pie-area {
display: flex !important;
justify-content: center !important;
align-items: center !important;
align-content: center !important;
}
.apexcharts-pie-slice-3{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important; 
}